<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design login</title>
</head>
    <body>
    <form name="loginForm" method="post" action="login.php">
        <table width="35%" bgcolor="violet" align="center" >
        
        <tr>
        <td colspan=2><center><font size=5><b>Login Page</b></font></center></td>
        </tr>
        
        <tr>
        <td>Username:</td>
        <td><input type="text" size=20 name=""></td>
        </tr>
        
        <tr>
        <td>Password:</td>
        <td><input type="Password" size=20 name="pwd"></td>
        </tr>
        
        <tr>
        <td ><input type="Reset"></td>
        <td><input type="submit" onclick="return check(this.form)" value="Login"></td>
        </tr>
        
        </table>
        </form>
        
    </body>
</html>